@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #6c757d;
}
i {
  cursor: pointer;
}

header {
  background-color: #f8f9fa;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.logo {
  text-decoration: none;
  color: #212529;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.logo:hover {
  color: #212529;
}
.navigation {
  margin-left: 400px;
}

.navigation a {
  text-decoration: none;
  color: #212529;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover {
  color: #ff0000;
}

#logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-img img {
  margin-right: 50px;
  width: 70px;
  height: 70px;
}

.cart {
  position: relative;
  font-size: 30px;
  padding: 5px;
  color: #f8f9fa;
  background-color: #212529;
  border-radius: 5px;
}

.cartAmount {
  font-size: 16px;
  top: -15px;
  right: -10px;
  background-color: red;
  color: white;
  position: absolute;
  padding: 3px;
  border-radius: 3px;
}

.text-center {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

.cart-item img {
  border-radius: 5px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: #212529;
  color: #f8f9fa;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.checkout {
  background-color: green;
  margin-right: 10px;
}
.removeAll {
  background-color: #ff0000;
}

.bi-x-lg {
  color: #ff0000;
  font-weight: bold;
  margin-top: 10px;
}

.shopping-cart {
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: repeat(
    1,
    320px
  ); /* رقم واحد يعني عمود واحد والرقم الثاني يعني  عرض العامود */
}

.cart-item {
  border: 2px solid #212529;
  display: flex;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.title-price-x {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 195px;
}

.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px 0px 10px;
}

.cart-item-price {
  background-color: #212529;
  color: #f8f9fa;
  border-radius: 4px;
  padding: 1.5px 3px;
}

.cart-buttons {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.bi-dash-lg {
  color: #ff0000;
}
.bi-plus-lg {
  color: green;
}

.calck {
  margin: 0px 0px 10px 10px;
}
